*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* assign flex to entire page to push footer to bottom and header to top? */
body{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.header{
    background-color: #1f2937;
    color: #fff;
    padding: 15px;
}
 
.navbar-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 10px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.header-logo{
    font-size: 20px;
    font-weight: 900;
}

/* #header-image, #header-image2{
    height: 300px;
} */

.header-images{
    height: 300px;
    display: flex;
    gap: 30px;
}

.header-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.header-left{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.signup-button{
    width: 70px;
    border: none;
    border-radius: 50px;
    margin: 10px 0px;
    padding: 5px;
    background-color: #3882f6;
    color: #fff;
}

#lamppost-text{
    margin-top: 10px;
}

.randominfo{
    background-color: rgb(170, 204, 255);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.randominfo h2{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pictures{
    display: flex;
    justify-content: space-evenly;
}

.pictures img{
    height: 200px;
    width: 150px;
    border: 3px rgb(142, 142, 255) solid;
    border-radius: 10px;
}

.photo{
    text-align: center;
    padding: 10px;
}


.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1f2937;
    color: #fff;
}